<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to('Logo', {:action => 'index'}, class: 'navbar-brand') %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to('Home', {:action => 'index'}, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Edit', {:action => 'edit'}, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('View', {:action => 'view'}, class: 'nav-link') %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-ouline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

    </nav>
    <%= yield %>
  </body>
</html>
